
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  background-color: #669999;
  overflow: auto;
  width: 100%;
}
.nav-logo {
  width: 15%;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  float: left;
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
margin-left: 2em;
}

.nav-elements {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  float: right;
  padding-right: 0.4em;
  width: 600px;
}
.nav-elements li {
  float: left;
  padding-left: 2em;
  list-style-type: none;
  margin: 0px;
}

.nav-elements li input[type="text"]{
  font-size: 1em;
}

.nav-elements li input[type="password"]{
  font-size: 1em;
}

.nav-elements li input[type="submit"]{
  font-size: 1em;
}

.nav-elements * {
  border: none;
  border-radius: 3px;
}

.login-green {
  background-color: #BDDBD8;
}

.login-button{
  background-color: #669999;
  color: black;
}

a {
  text-decoration: none;
  color: #F3F5F4;
}
a:hover {
  color: #b7b7b7;
}
h1, h2, form, h4 {
  text-align: center;
}
h2, h1 {
  font-family: 'Montserrat', sans-serif;
}



.image-logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
/*log nav bar styling */

.riddle {
  margin-bottom: 4%;
}
.splash {
  background-color: #669999;
}


.form-css {
  width: 400px;
    margin: auto;
}


.answer {
  background-color: #FFFFCC;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  height: 2em;
  display: inline;
}
.form-css * {
  font-size: 1em;
  border: none;
  border-radius: 3px;
  height: 2em;
  display: inline;

}
button {
  background-color: #669999;
}

button:hover{
  background: #009999;
}

.correct-answer{
  text-align: center;
  font-size: 3em;
  color: #669999
}
.mid-color-break {
  background-color: #CCCCCC;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: lighter;
  padding: 3.5%;
  color: white;
  font-size: 2.5em;
  font-weight: 100;
}

.submit-button {
  background-color: #666699;
  border-style: none;
  font-size: 1em;
  /*padding: 1%;*/
  border-radius: 3px;
  height: 2em;
  display: inline;
}

.submit-button:hover {
  background-color: #3333CC;
}

.postRiddle {
  padding-top: 5em;
}
#correctAnswer {
  height: 2em;
}

/*socket chat styling */

footer {
  margin-bottom: 0px;
}

.chat-area {
  background-color: #BDDBD8;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.chat-area ul {
  float: left;
  margin: 0;
  padding: 0;
}

.chat-area li {
  font-family: 'Montserrat', sans-serif;
  height: 1.5em;
  font-style: italic;
}


.chat-title {
  text-align: center;
  color: white;
  margin: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-top: 2%;
  font-size: 2em;
}

.socketioForm {
  background: white;
  padding: 3px;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  display: inline-flex;
  margin: 0px;
}
.socketioInput {
  border: 0;
  padding: 10px;
  width: 89%;
  margin-right: .5%;
  background-color: #FFFFCC;
}
.socketioButton {
  width: 9%;
  background: #669999;
  border: none;
  padding: 10px;
}

.socketioButton:hover {
  background: #009999;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .image-logo {
    width: 30%;
  }
}
